.asesoriaprin{  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://res.cloudinary.com/licabraham939/image/upload/v1659672545/CloverAV/advisory_property_zbzcga.jpg);
  background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    height: 35vh;
    
}

/* body{
  background-color: #A5E1C2;
} */
