.asesoriaprin{  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://img.freepik.com/foto-gratis/parque-camino-madera-bancos_1137-254.jpg?t=st=1657043504~exp=1657044104~hmac=6c66fd54f55e68f4aa4f017a3205ac3818e0f78935f656140353ad27d91d7324&w=740);
  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 25vh;

}

/* body{
  background-color: #A5E1C2;
} */
