.imdesc{

  background-image: url(https://res.cloudinary.com/licabraham939/image/upload/v1659674247/CloverAV/sinFONDO_irh9ja.png);
  background-repeat: no-repeat;
  background-size: contain;
    height: 80vh;
    display: fixed;

}
.contenidotexto{
    margin-top: 0px;

}
