.wallpaserv{
  background-image : url("https://res.cloudinary.com/licabraham939/image/upload/v1659669839/CloverAV/ContenidoWEB/14-1_artistico_kwbnpi.jpg");
}

.serviiiv{
  margin-top: -100px;
  z-index: 100;
  display: block;
}
